@font-face {
  font-family: MavenPro-Regular;
  src: url(../assets/fonts/Maven_Pro/MavenPro-Regular.ttf);
}

@font-face {
  font-family: MavenPro-Medium;
  src: url(../assets/fonts/Maven_Pro/MavenPro-Medium.ttf);
}

@font-face {
  font-family: MavenPro-SemiBol;
  src: url(../assets/fonts/Maven_Pro/MavenPro-SemiBold.ttf);
}