ion-header {
    ion-toolbar {
        --background: #4cb050;
        color: white;
        ion-title {
            font-size: 15px;
        }
    }
}

ion-content {
    .container-valor {
        background: #4cb050;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        ion-label {
            font-size: 12px;
            p {
                font-size: 24px;
                color: white;
                margin-top: 9px;
                font-weight: bold;
            }
        }
        ion-text {
            ion-icon {
                font-size: 10px;
            }
        }
    }
    .formulario {
        border-radius: 20px 20px 0px 0px;
        margin-top: -16px;
        background: white;
        ion-grid {
            ion-row {
                display: flex;
                justify-content: center;
                align-items: center;
                ion-badge {
                    margin-left: 4px;
                    padding: 12px;
                    font-size: 12px;
                    border-radius: 20px;
                }
                ion-col {
                    .icone {
                        font-size: 20px;
                        color: rgb(159, 158, 158);
                    }
                    ion-label {
                        color: rgb(159, 158, 158);
                    }
                    ion-button {
                        text-transform: none;
                        --border-radius: 20px;
                    }
                }
            }
        }
    }
    .mais-detalhes {
        text-align: center;
        color: #4cb050;
        font-weight: bold;
        text-transform: uppercase;
    }
    .acao-grid:hover {
        background: rgb(246, 246, 246);
        border-radius: 20px;
    }
    .acao-grid:focus {
        background: rgb(246, 246, 246);
        border-radius: 20px;
    }
}
